<!DOCTYPE html>
<html>

<head>
    <!-- 声明文档使用的字符编码 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!--强制Chromium内核作用于360浏览器、QQ浏览器等国产双核浏览器-->
    <meta name="renderer" content="webkit" />
    <!--强制Chromium内核，作用于其他双核浏览器-->
    <meta name="force-rendering" content="webkit" />
    <!--如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器：-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>百汇天下_手机APP_经典案例_正道科技</title>
    <meta name="keywords" content="百汇天下,百汇">
    <meta name="description" content="有奖推荐、二级分销招聘系统">
    <link rel="stylesheet" href="http://zdocd.com/statics/zdfc/css/swiper.min.css" />
    <link rel="stylesheet" href="http://zdocd.com/statics/zdfc/css/bootstrap.css" />
    <link rel="stylesheet" href="http://zdocd.com/statics/zdfc/css/style.css" />
    <link rel="stylesheet" href="http://zdocd.com/statics/zdfc/css/responsive2.css" />
    <!-- <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?9d823da7bfc3339ae3adf6d3b28f08dc";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script> -->
</head>

<body>
    <header class="zdHeader transiton3s">
        <div class="pcNav">
            <div class="container clearfix">
                <div class="logoBox">
                    <img src="http://zdocd.com/statics/zdfc/img/logo.png" class="logoPic" />
                </div>
                <p class="tel">028-81475600</p>
                <nav class="zdNav clearfix">
                    <a href="/" class=" transiton3s">首页</a>
                    <a href="/html/appkaifa-list.html" class=" transiton3s">APP开发</a>
                    <a href="/html/xiaochengxu-list.html" class=" transiton3s">微信小程序</a>
                    <a href="/html/weixingongzhonghao-list.html" class=" transiton3s">微信公众号</a>
                    <a href="/html/jingdiananli-list.html" class=" transiton3s">经典案例</a>
                    <a href="/html/xingyezixun-list.html" class=" transiton3s">行业资讯</a>
                    <a href="/html/guanyuwomen-list.html" class=" transiton3s">关于我们</a>
                </nav>
            </div>
        </div>
    </header>
    <style>
        .zdHeader .pcNav {
            background: #020c35 !important;
        }
    </style>
    <main class="detailBg">
        <section class="locationMod">
            <div class="container">
                <div class="location"><a href="/">首页</a> · <a href="/html/jingdiananli-list.html">经典案例</a>>案例内容</div>
            </div>
        </section>
        <section class="detailModule">
            <div class="container clearfix">
                <div class="leftBox">
                    <div class="casePic">
                        <p><img id="ec725360b6f1a7fb9ee1a74b489bcdff_img_152"
                                src="http://www.zdocd.com/uploadfile/ueditor/image/20190226/1551152872931086.png"
                                title="1551152872931086.png" alt="2.png" /><img
                                id="ec725360b6f1a7fb9ee1a74b489bcdff_img_153"
                                src="http://www.zdocd.com/uploadfile/ueditor/image/20190226/1551152874589049.png"
                                title="1551152874589049.png" alt="3.png" /><img
                                id="ec725360b6f1a7fb9ee1a74b489bcdff_img_154"
                                src="http://www.zdocd.com/uploadfile/ueditor/image/20190226/1551152877610576.png"
                                title="1551152877610576.png" alt="4.png" /><img
                                id="ec725360b6f1a7fb9ee1a74b489bcdff_img_155"
                                src="http://www.zdocd.com/uploadfile/ueditor/image/20190226/1551152880891903.png"
                                title="1551152880891903.png" alt="5.png" /><img
                                id="ec725360b6f1a7fb9ee1a74b489bcdff_img_156"
                                src="http://www.zdocd.com/uploadfile/ueditor/image/20190226/1551152883699995.png"
                                title="1551152883699995.png" alt="6.png" /></p>
                    </div>
                </div>
                <div class="rightBox">
                    <div class="caseCon">
                        <div class="box">
                            <h6 class="caseDeTit">
                                百汇天下 </h6>
                            <div class="caseDetail">
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 黑体, SimHei; font-size: 18px; color: rgb(242, 242, 242);"><strong>一、产品介绍</strong></span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp;
                                        &nbsp;百汇天下app是百庆人力资源有限公司的一款招聘app。app受众群体主要面向蓝领阶层，app的主要功能是实现线上提交报名信息，线下入职，然后后台设置有奖推荐岗位，前端用户分享出去可以发展下线，下线成功入职以后，上级可以得到相应的奖金提成，并且可以提现。app初期没有线上提交简历的功能，估计后期会完善，前期只是搜集基本信息。</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">1、产品背景：</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp;
                                        &nbsp;百庆人力资源有限公司，是一个成立不久的公司，公司自成立以来，依靠线下推送招聘岗位，求职者线下报名。但是这种模式始终受限制，线下报名人数有限，公司推出的职位信息也有限制，所以想开发一款app，打造一个供求职者求职的平台，打开市场局面，将线下的资源整合到线上。这款app主要有四大职位信息入口，包括当天面试、名企招聘、高薪职位、特推岗位。这四个入口进去会有不同特点的职位，职位都为后台发布的。前端用户可以预约报名，后台工作人员可以在后台标记不匹配或者成功入职，一旦成功入职后，如果这个人有上级，并且达到了返佣标准，那么点击返佣，上级就可以得到相应的提成。</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">2、产品整体框架：</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp;
                                        &nbsp;此项目是一个app，受众群体主要是蓝领阶层的用户。可以分享职位详情给其他微信好友，点击；链接进来一样可以进行报名。</span></p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">3、功能亮点：</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp; &nbsp;（1）会员可以分享职位给好友，绑定上下级关系，好友成功入职过后，达到返佣标准，上一级可以得到相应提成；</span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp; &nbsp;（2）也可以通过扫描二维码来绑定上下架关系；</span></p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 黑体, SimHei; font-size: 18px; color: rgb(242, 242, 242);"><strong>二、运营方法</strong></span>
                                </p>
                                <p style="margin-top: 10px; line-height: 2em;"><span
                                        style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; color: rgb(242, 242, 242);">&nbsp;
                                        &nbsp; &nbsp;
                                        &nbsp;这款产品目前是一期工程，目前主要解决产品核心的展示功能，实现用户基本的填写报名信息即可。受众群体主要是蓝领阶层，所以暂时不考虑给前端用户完善简历信息的功能。</span>
                                </p>
                                <p><br /></p>
                            </div>
                        </div>
                        <div class="nexPrev clearfix">

                            <a href="/html/weixinxiaochengxu-show-46.html" class="prevArrow transiton3s"></a>
                            <a href="/html/shoujiapp-show-65.html" class="nextArrow transiton3s"></a>
                        </div>
                    </div>
                    <div class="caseRelative">
                        <ul class="list">
                            <li class="item">
                                <a href="/html/glrj-show-80.html">
                                    <div class="picBox">
                                        <img src="http://zdocd.com/uploadfile/201902/739d8e2855.png"
                                            class="transiton3s objectCover" />
                                    </div>
                                    <p class="textOverflow transiton3s name">百益人力招聘</p>
                                </a>
                            </li>
                            <li class="item">
                                <a href="/html/glrj-show-59.html">
                                    <div class="picBox">
                                        <img src="http://zdocd.com/uploadfile/201902/ef44a00ea2.jpg"
                                            class="transiton3s objectCover" />
                                    </div>
                                    <p class="textOverflow transiton3s name">防雷安全管理平台</p>
                                </a>
                            </li>
                            <li class="item">
                                <a href="/html/weixinkaifa-show-68.html">
                                    <div class="picBox">
                                        <img src="http://zdocd.com/uploadfile/201905/a350918762.jpg"
                                            class="transiton3s objectCover" />
                                    </div>
                                    <p class="textOverflow transiton3s name">剪刀侠</p>
                                </a>
                            </li>
                            <li class="item">
                                <a href="/html/shoujiapp-show-65.html">
                                    <div class="picBox">
                                        <img src="http://zdocd.com/uploadfile/201905/eb8c72d9ff.jpg"
                                            class="transiton3s objectCover" />
                                    </div>
                                    <p class="textOverflow transiton3s name">装卸专家</p>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <aside class="rightAside">
        <div class="asideList">
            <div class="item telitem transiton3s">
                <a>
                    <img src="http://zdocd.com/statics//zdfc/img/asideicon1.png" />
                </a>
                <div class="telBox transiton3s" id="telBox">
                    <div class="box">
                        <span>公司电话</span>
                        <a>028-81475600</a>
                        <div class="line"></div>
                        <span>产品经理直通</span>
                        <a>157-0847-4187</a>
                    </div>
                </div>
            </div>
            <div class="item transiton3s" id="zxzx">
                <div class="bgbox">
                    <span class="link"
                        style="display: none;">http://p.qiao.baidu.com/cps/chat?siteId=13221502&userId=27577370</span>
                    <img src="http://zdocd.com/statics//zdfc/img/asideicon2.png" />
                </div>
                <div class="txtBox">在线咨询</div>
            </div>
            <!-- <div class="item transiton3s">
                    <a href="http://sighttp.qq.com/msgrd?v=1&uin=297018527" target="_blank">
                        <div class="icon icon3 transiton3s"></div>
                        <p class="transiton3s">QQ咨询</p>
                    </a>
                </div> -->
        </div>
        <div id="asideFormBtn" class="transiton3s">
            <div class="bgbox">
                <img src="http://zdocd.com/statics//zdfc/img/asideicon3.png" />
            </div>
            <div class="txtBox">填写需求</div>
        </div>
        <div class="transiton3s" id="backTop"></div>
    </aside>

    <section class="footerForm">
        <div class="container">
            <div class="clearfix box">
                <img src="http://zdocd.com/statics//zdfc/img/formicon.png" class="icon" />
                <form class="asideForm clearfix form-horizontal" name="myform" id="asideForm" method="post"
                    onsubmit="return false;">
                    <div hidden="hidden" class="form-group" id="dr_row_title">
                        <label class="control-label col-md-2">
                            <font color="red">*</font>主题：
                        </label>
                        <div class="col-md-9"><input class="form-control" type="text" name="data[title]" id="dr_title"
                                value="底部表单" style="width:400px;" required="required"></div>
                    </div>
                    <!-- <input type="text" name="data[xingming]"  placeholder="姓名" class="nameInput"/> -->
                    <input type="text" name="data[shoujihao]" placeholder="请输入您的手机号" class="telInput" />
                    <input type="text" name="data[xuqiu]" placeholder="请输入您的需求" class="requireInput" />
                    <input type="submit" value="提 交" class="transiton3s" id="formSubBtn" />
                </form>
                <div class="closebtn transiton3s" id="formClose">
                    <img src="http://zdocd.com/statics//zdfc/img/formclose.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="formSuc">
        <div class="sucBox">
            <img src="http://zdocd.com/statics//zdfc/img/suc.png" class="sucImg" />
            <p class="name">已成功收到您的需求</p>
            <p class="pro">我们会尽快与您联系，请保持电话畅通</p>
            <div class="transiton3s closeBtn">我知道了</div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="box clearfix">
                <div class="footerLeft">
                    <h6 class="name">联系·正道</h6>
                    <!--<p class="pro">邮箱：297018527@qq.com</p>-->
                    <p class="tel">028-81475600</p>
                    <p class="pro">产品经理直通：157-0847-4187</p>
                    <p class="add">地址：成都市青羊区光华中心B座1205-1207室（地铁四号线中坝站A口旁）</p>
                </div>
                <div class="footerRight">
                    <div class="ewmBox">
                        <img src="" data-src="http://zdocd.com/uploadfile/201902/a7d9f1b15f.png" class="ewmPic" />
                        <p class="ewmText">扫码获取产品经理名片</p>
                    </div>
                    <p class="copy">COPYRIGHT@2017-2018 成都正道飞创科技有限公司 蜀ICP备18027005号</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/jquery.js"></script>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/swiper.min.js"></script>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/layer/layer.js"></script>
    <script type="text/javascript" src="http://zdocd.com/statics/zdfc/js/zdfc.js"></script>
</body>

</html>
<script>
    $(".zdNav>.transiton3s").eq(4).addClass("active");
</script>