<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!--强制Chromium内核作用于360浏览器、QQ浏览器等国产双核浏览器-->
    <meta name="renderer" content="webkit" />
    <!--强制Chromium内核，作用于其他双核浏览器-->
    <meta name="force-rendering" content="webkit" />
    <!--如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器：-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>Devep</title>
    <meta name="keywords" content="Devep">
    <meta name="description" content="Devep">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/responsive2.css">
    <link rel="stylesheet" href="./css/indexDev.css">


</head>
<script>
    var wapurl = "http://localhost:8090/indexM"
    var selectItems = [];
    if (/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (
        /MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/
            .test(navigator.userAgent))) {
        if (window.location.href.indexOf("?mobile") < 0) {
            try {
                if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                    window.location.href = wapurl;
                } else {
                    //window.location.href=wapurl;
                }
            } catch (e) { }
        }
    }

    function requireClick(obj) {

        if ($(obj).hasClass("tagSelected")) {
            $(obj).removeClass("tagSelected");
            selectItems.splice(jQuery.inArray(obj.id,selectItems),1);
        } else {
            $(obj).addClass("tagSelected");
            selectItems.push(obj.id);
            
        }
        console.log(selectItems);
    }
    // $(function () {
    //     var selectItems = [];
    // });
    function submitRequestForm() {
        var formData = new FormData();
        //var test11 = $('#ff').serializeArray();
        var fileobj = document.getElementById("projectFile").files[0];
        //添加左列点击项
        formData.append("selectItems",selectItems);
        //添加表单数据
        $.each($('#ff').serializeArray(), function (i, field) {
            formData.append(field.name, field.value);
        })
        //上传用户需求
        formData.append("file", fileobj);
        $.ajax({
            url: '/indexPro/projectSubmit',
            type:"post",
            dataType: "json",
            async:false,
            data:formData,
            processData:false,
            contentType:false,
            traditional:true,
            success: function(data){
                $('#myModal').modal('hide');
            }
        });
    }
</script>

<body>
    <div class="modal fade" id="myModal">
        <div class="cover " role="document">
            <div class="content">

                <div class="left">
                    <h4>require kind</h4>
                    <span onclick="requireClick(this)" id="Excel">Excel</span>
                    <span onclick="requireClick(this)" id="Access">Access</span>
                    <span onclick="requireClick(this)" id="IOS">IOS</span>
                    <span onclick="requireClick(this)" id="Andriod">Andriod</span>
                    <span onclick="requireClick(this)" id="FacebookApp">Facebook App</span>
                    <span onclick="requireClick(this)" id="HTML">HTML</span>
                    <span onclick="requireClick(this)" id="shopify">shopify</span>
                    <span onclick="requireClick(this)" id="C">C#</span>
                    <div id="textForIcon">this is samples for differnt span which be clicked</div>
                </div>
                <div class="right">
                    <div class="big-title">Looking to hire a Digital Marketing Expert?</div>
                    <div class="small-title">Send in your requirement and experience our elite customer service</div>
                    <form id="ff" enctype="multipart/form-data" >
                        <div class="input-inp">
                            <div class="one">
                                <div class="title">Email*</div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="eg John" name="proMail"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title">Password*</div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="eg John" name="userPass"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>

                            </div>
                            <div class="one">
                                <div class="title">Name</div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="eg John" name="userName"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title">Contact Number</div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="eg John" name="userContactNumber"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title">Website/Company</div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="eg John" name="userCompany"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title">project duration</div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="eg John" name="proDuration"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title">project name</div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="eg John" name="proName"
                                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                                </div>
                            </div>
                            <div class="one">
                                <div class="title"> Project Files</div>
                                <input type="file" id="projectFile" name="projectFile" />
                            </div>

                    </form>
                </div>


            </div>
        </div>
        <button onclick="submitRequestForm()" class="hideNow">Hire Now</button>
    </div>
    </div>

    <div id="ShowImage_Form" class="modal hide">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="img_show">

                </div>
            </div>

        </div>

    </div>


    <header class="zdHeader transiton3s">
        <div class="pcNav indexNav">
            <div class="container clearfix">
                <div class="logoBox">
                    企业logo占位
                    <!-- <img src="http://zdocd.com/statics/zdfc/img/logo.png" class="logoPic" /> -->
                </div>
                <p class="tel">+61 123456789</p>
                <nav class="zdNav clearfix">
                    <a href="/" class=" active  transiton3s">首页</a>
                    <a href="/html/appkaifa-list.html" class=" transiton3s">Regist</a>
                    <a href="/html/xiaochengxu-list.html" class=" transiton3s">Login</a>
                    <a href="/html/jingdiananli-list.html" class=" transiton3s">经典案例</a>
                    <a href="/html/xingyezixun-list.html" class=" transiton3s">行业资讯</a>
                    <a href="/html/guanyuwomen-list.html" class=" transiton3s">关于我们</a>
                </nav>
            </div>
        </div>
    </header>


    <section class="bannerBox indexBanner">
        <div class="container">
            <div class="index-banner-swi">
                <div class="swiper-container">
                    <!-- 轮播 -->
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <img class="objectCover" src="http://zdocd.com/uploadfile/202003/9fecc31925.png" alt=""
                                onclick="submitReq()" />
                        </div>

                        <div class="swiper-slide">
                            <img class="objectCover" src="http://zdocd.com/uploadfile/202003/dfdee7c076.png" alt=""
                                onclick="submitReq()" />
                        </div>
                        <div class="swiper-slide">
                            <img class="objectCover" src="http://zdocd.com/uploadfile/202003/dfdee7c076.png" alt=""
                                onclick="submitReq()" />
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="indexModule1">
        <div class="container">
            <div class="title animate">
                <h6 class="moduleTit">Project Lists</h6>
                <p class="modulePro">We provide High-quality & Fast-delivery IT development</p>
            </div>
            <div class="box animateBox">
                <ul class="serviceList col4List clearfix">
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/excel.png" alt="" class="indexModule1-pic">
                        <p class="name">Excel</p>
                        <p class="pro">Excel application,help daily report work</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/access.png" alt="" class="indexModule1-pic">
                        <p class="name">Access</p>
                        <p class="pro">Access application,professional manage operation data</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/ios.png" alt="" class="indexModule1-pic">
                        <p class="name">ios</p>
                        <p class="pro">high-end ios application development</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/andriod.png" alt="" class="indexModule1-pic">
                        <p class="name">andriod</p>
                        <p class="pro">more stable,more convenient</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/facebook.png" alt="" class="indexModule1-pic">
                        <p class="name">Facebook App</p>
                        <p class="pro">dig into facebook ecology</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/ie.png" alt="" class="indexModule1-pic">
                        <p class="name">Html</p>
                        <p class="pro">cross-platform & compatible to most browser</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/shopify.png" alt="" class="indexModule1-pic">
                        <p class="name">Shopify </p>
                        <p class="pro">Professional Shopify web design</p>
                        <!-- </a> -->
                    </li>
                    <li class="transiton3s">
                        <!-- <a href=""> -->
                        <img src="./images/techSupport.png" alt="" class="indexModule1-pic">
                        <p class="name">C# </p>
                        <p class="pro">permanent tech support & software update in demand</p>
                        <!-- </a> -->
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="indexModule4">
        <div class="container">
            <div class="title animate">
                <h6 class="moduleTit whiteColor">开发优势</h6>
                <p class="modulePro">精密布局+技术底蕴+贴心服务，我们一直在您身边</p>
            </div>
            <div class="animateBox animate-up">
                <ul class="advantage col4List">
                    <li class="item">
                        <p class="name">
                            功能策划
                            <img src="" data-src="http://zdocd.com/statics/zdfc/img/home4Icon1.png" class="icon" />
                        </p>
                        <div class="line"></div>
                        <p class="pro">
                            前期沟通后，免费陪同实地挖掘需求、分析功能，</br>根据客户提供的信息、需求挖掘与分析结果提出建议，</br>双方论证达成一致后规划出更合理更符合市场的方案，</br>不再为后期需求调整多花无意义的时间和费用
                        </p>
                    </li>
                    <li class="item">
                        <p class="name">
                            技术实力
                            <img src="" data-src="http://zdocd.com/statics/zdfc/img/home4Icon2.png" class="icon" />
                        </p>
                        <div class="line"></div>
                        <p class="pro">
                            9年+互联网开发服务经验，500+企业客户共同选择；</br>清晰、人性化的研发流程+项目经理制+结构化研发中心(产品部、UI部、研发部、项目管理部、市场营销部)，保障项目的构架、质量、运营；
                        </p>
                    </li>
                    <li class="item">
                        <p class="name">
                            后期服务
                            <img src="" data-src="http://zdocd.com/statics/zdfc/img/home4Icon3.png" class="icon" />
                        </p>
                        <div class="line"></div>
                        <p class="pro">提供各项标准系统手册与系统培训；</br>定期数据库、服务器维护；</br>日常使用问题和项目问题急速反馈；</br>市场运营建议和指导；</p>
                    </li>
                    <li class="item">
                        <p class="name">
                            团队成员
                            <img src="" data-src="http://zdocd.com/statics/zdfc/img/home4Icon4.png" class="icon" />
                        </p>
                        <div class="line"></div>
                        <p class="pro">70人+互联网敏捷开发团队，专注解决软件开发中的各类难题，能给予行业解决方案、功能策划、运营推广的专业实用意见，助您快速适应新时代</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="indexModule3 case">
        <div class="content">
            <div class="title animate">
                <h6 class="moduleTit">Our portfolio</h6>
            </div>
            <div class="animateBox">
                <div class="tabBox ul-wrap">
                    <ul class="clearfix">
                        <li class="tabBar transiton3s">Excel & Access</li>
                        <li class="tabBar transiton3s">IOS & Andriod</li>
                        <li class="tabBar transiton3s">Facebook App</li>
                        <li class="tabBar transiton3s">Html</li>
                        <li class="tabBar transiton3s">C#</li>
                        <li class="tabBar transiton3s">shopify</li>
                    </ul>
                </div>
                <div class="aniBox">
                    <div class="contentBox ul-box">
                        <div class="tabContent ul-main fixbug">

                            <div class="ul-bd">
                                <ul class="IndexCaseList clearfix">
                                    <li class="">
                                        <a class="box transiton3s" onclick="showPotfolioPic(this)">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/eb8c72d9ff.jpg"
                                                    class="viewer objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">装卸专家</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-78.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/ebc05d1d9e.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">享修</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-84.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/680b0db3f5.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">致莱机电</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-76.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/607f6d5b46.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">叶迪宇医疗</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-63.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/ffdcb6bea5.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">百汇天下</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-132.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/3f68f37297.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">壹志愿</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-117.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/b07c910b58.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">绵房特卖</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-103.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/525e2eee5d.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">九天家私</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-104.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/34c73c266f.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">知医</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/shoujiapp-show-66.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/3f9ad74e19.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">900家政</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="tabContent ul-main fixbug">

                            <div class="ul-bd">
                                <ul class="IndexCaseList clearfix">
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-148.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/b50a360957.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">安诚保险</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-68.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/a350918762.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">剪刀侠</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-122.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/bbb003c7c8.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">思拓建筑</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-111.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/4101a0852d.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">老司机</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-82.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/dadf513361.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">壳米校园配送</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-130.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/62816e356b.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">假日阳光</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-95.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/ce12e25f95.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">康信</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-61.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/8daf6198b2.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">飞狗协砼</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-134.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/f0c1c9cd0a.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">神通乐园</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinkaifa-show-120.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/d2d11f3745.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">佐帮600</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                        <div class="tabContent ul-main fixbug">

                            <div class="ul-bd">
                                <ul class="IndexCaseList clearfix">
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-248.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201907/57284d9a84.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">同城配送平台</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-151.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/3c9b40798b.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">一拍识车</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-115.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/fc905f857c.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">好秾人</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-71.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/1634fb9a2c.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">校园E管家</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-46.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/361d14fe41.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">百执同创</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-74.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/f6bbf2d12f.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">阿玛尼优洗</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-156.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/be0556c640.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">车幺贰零</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-124.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/fef4862e02.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">百工慧</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-110.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/12243fc98d.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">三国外卖团</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/html/weixinxiaochengxu-show-93.html" class="box transiton3s">
                                            <div class="picBox">
                                                <img src="" data-src="http://zdocd.com/uploadfile/201905/e02014bc61.jpg"
                                                    class="objectCover transiton3s" />
                                            </div>
                                            <div class="textBox">
                                                <p class="name textOverflow transiton3s">天天商圈</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="indexModule5">
        <div class="container">
            <div class="title animate">
                <h6 class="moduleTit">开发流程</h6>
                <p class="modulePro">8个环节，一步一个脚印</p>
            </div>
            <div class="animateBox animate-up">

                <div class="processBox">
                    <div class="line"></div>
                    <div class="item">
                        <div class="num">01</div>
                        <h6 class="name">需求沟通</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process1.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">双方通过对项目目标、项目价值点的沟通，梳理项目的相关需求，并陪同客户实地挖掘需求、分析功能</p>
                    </div>
                    <div class="item">
                        <div class="num">02</div>
                        <h6 class="name">需求评估</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process2.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">我方产品经理、项目经理、技术负责人对整理出的需求进行定位分析、可行性分析，予以专业意见</p>
                    </div>
                    <div class="item">
                        <div class="num">03</div>
                        <h6 class="name">方案策划</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process3.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">根据双方论证达成一致的解决方案，撰写功能清单，确定项目功能规划，细化功能实现方式</p>
                    </div>
                    <div class="item">
                        <div class="num">04</div>
                        <h6 class="name">项目立项</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process4.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">项目启动、成立专项小组、评估工时、签订合同、进行项目原型图设计与效果图设计</p>
                    </div>

                    <div class="item">
                        <div class="num">05</div>
                        <h6 class="name">技术研发</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process5.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">根据功能清单、原型图、效果图进行项目编码，实现项目功能</p>
                    </div>
                    <div class="item">
                        <div class="num">06</div>
                        <h6 class="name">测试评估</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process6.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">对项目进行软件测试和人工测试，包含压力测试、适配调整、BUG修改</p>
                    </div>
                    <div class="item">
                        <div class="num">07</div>
                        <h6 class="name">交付发布</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process7.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">交付项目并培训软件的使用、部署到正式服务器，提供测试报告、软件操作手册等各项标准系统文档</p>
                    </div>
                    <div class="item">
                        <div class="num">08</div>
                        <h6 class="name">后期维护</h6>
                        <img src="" data-src="http://zdocd.com/statics/zdfc/img/process8.png" class="icon" />
                        <div class="shu"></div>
                        <p class="pro">日常使用问题答疑、BUG修复、软件使用培训、定期服务器维护与数据库备份、运营建议和指导</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <style>
        .indexModule5 .process .itemBot .icon {
            top: 39px;
        }
    </style>

    <aside class="rightAside">
        <div class="asideList">
            <div class="item telitem transiton3s">
                <a>
                    <img src="http://zdocd.com/statics//zdfc/img/asideicon1.png" />
                </a>
                <div class="telBox transiton3s" id="telBox">
                    <div class="box">
                        <span>Contact Us</span>
                        <a>+61 1234562789</a>
                        <a>------------</a>
                        <span>Email Us</span>
                        <a>123@123.com</a>

                    </div>
                </div>
            </div>
        </div>
        <div id="asideFormBtn" class="transiton3s">
            <div class="bgbox">
                <img src="http://zdocd.com/statics//zdfc/img/asideicon3.png" />
            </div>
            <div class="txtBox">Request</div>
        </div>
        <div class="transiton3s" id="backTop"></div>
    </aside>

    <section class="footerForm">
        <div class="container">
            <div class="clearfix box">
                <img src="http://zdocd.com/statics//zdfc/img/formicon.png" class="icon" />
                <form class="asideForm clearfix form-horizontal" name="myform" id="asideForm" method="post"
                    onsubmit="return false;">
                    <div hidden="hidden" class="form-group" id="dr_row_title">
                        <label class="control-label col-md-2">
                            <font color="red">*</font>主题：
                        </label>
                        <div class="col-md-9"><input class="form-control" type="text" name="data[title]" id="dr_title"
                                value="底部表单" style="width:400px;" required="required"></div>
                    </div>
                    <!-- <input type="text" name="data[xingming]"  placeholder="姓名" class="nameInput"/> -->
                    <input type="text" name="data[shoujihao]" placeholder="请输入您的手机号" class="telInput" />
                    <input type="text" name="data[xuqiu]" placeholder="请输入您的需求" class="requireInput" />
                    <input type="submit" value="提 交" class="transiton3s" id="formSubBtn" />
                </form>
                <div class="closebtn transiton3s" id="formClose">
                    <img src="http://zdocd.com/statics//zdfc/img/formclose.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="formSuc">
        <div class="sucBox">
            <img src="http://zdocd.com/statics//zdfc/img/suc.png" class="sucImg" />
            <p class="name">已成功收到您的需求</p>
            <p class="pro">我们会尽快与您联系，请保持电话畅通</p>
            <div class="transiton3s closeBtn">我知道了</div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="box clearfix">
                <div class="footerLeft">
                    <h6 class="name">contact Us</h6>
                    <p class="tel">Mail：297018527@qq.com</p>
                    <p class="pro">Phone:61-81475600</p>
                    <p class="pro">产品经理直通：157-0847-4187</p>
                    <p class="add">地址：成都市青羊区光华中心B座1205-1207室（地铁四号线中坝站A口旁）</p>
                </div>
                <div class="footerRight">
                    <div class="ewmBox">
                        <img src="" data-src="http://zdocd.com/uploadfile/201902/a7d9f1b15f.png" class="ewmPic" />
                        <p class="ewmText">扫码获取产品经理名片</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/swiper.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.3.js"></script>
    <script type="text/javascript" src="./js/layer.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script src="./js/devepIndex.js" rel="stylesheet"></script>
</body>

</html>