
<!DOCTYPE html>
<html>
<head>
    <!-- 声明文档使用的字符编码 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!--强制Chromium内核作用于360浏览器、QQ浏览器等国产双核浏览器-->
    <meta name="renderer" content="webkit" />
    <!--强制Chromium内核，作用于其他双核浏览器-->
    <meta name="force-rendering" content="webkit" />
    <!--如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器：-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>正道科技.用心服务每一环节</title>
	<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?c6baa827f5fdee84e4f993f50b7a070f"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>

    <meta name="keywords" content="正道科技">
    <meta name="description" content="正道科技">
    <link rel="stylesheet" href="http://zdocd.com/statics/mobile/css/swiper.min.css" />
    <link rel="stylesheet" href="http://zdocd.com/statics/mobile/css/zdfcm.css" />
    <script type="text/javascript" src="http://zdocd.com/statics/mobile/js/setFontSize.js"></script>
</head>

<script type="text/javascript">

    var pcurl="http://localhost:8090/index"
    if(/AppleWebKit.*Mobile/i.test(navigator.userAgent)==false || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))==false){
        if(window.location.href.indexOf("?mobile")<0){
            try{
                if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)==false){
                    window.location.href=pcurl;
                }
            }catch(e){}
        }
    }
</script>


<body>
<header class="header">    <div class="muneBtn muneBtn1">
        <img src="http://zdocd.com/statics/mobile/img/menu.png" class="icon"/>
    </div>
    <div class="fixedHeader textOverflow opcity0 transiton3s">
    正道科技.用心服务每一环节    <div class="muneBtn muneBtn2">
        <img src="http://zdocd.com/statics/mobile/img/menu.png" class="icon"/>
    </div>
</div>
<div class="navfull transiton3s" id="navfull">
    <div class="navclose" id="navclose"></div>
    <div class="navList">
        <a href="http://m.zdocd.com/" class="item active">
            <span>
                <b>首页</b>
                <i>Home</i>
            </span>
        </a>
        <!--调用栏目-->
                <a href="/mobile/html/appkaifa-list.html" class="item ">
            <span>
                <b>APP开发</b>
                <i>Applet</i>
            </span>
        </a>
                <a href="/mobile/html/xiaochengxu-list.html" class="item ">
            <span>
                <b>微信小程序</b>
                <i>WeGet</i>
            </span>
        </a>
                <a href="/mobile/html/weixingongzhonghao-list.html" class="item ">
            <span>
                <b>微信公众号</b>
                <i>WeChat</i>
            </span>
        </a>
                <a href="/mobile/html/jingdiananli-list.html" class="item ">
            <span>
                <b>经典案例</b>
                <i>CASE</i>
            </span>
        </a>
                <a href="/mobile/html/xingyezixun-list.html" class="item ">
            <span>
                <b>行业资讯</b>
                <i>NEWS</i>
            </span>
        </a>
                <a href="/mobile/html/guanyuwomen-list.html" class="item ">
            <span>
                <b>关于我们</b>
                <i>ABOUT</i>
            </span>
        </a>
            </div>
    <div class="contact">
        <a href="tel:028-81475600" class="tel">028-81475600</a>
        <p class="tel2">产品经理直通：<a href="tel:157-0847-4187">157-0847-4187</a></p>
        <div class="add"><span>成都市青羊区光华中心B座1205-1207室（地铁四号线中坝站A口旁）</span></div>
    </div>
</div>
</header><main>
    <section class="indexBanner whiteBg">
        <img src="http://zdocd.com/statics/mobile/img/banner.jpg" class="banner" />
    </section>
    <section class="homeNav mbt20">
        <div class="container">
            <ul class="list">
                <li class="listItem clearfix">
                    <a href="/mobile/html/appkaifa-list.html">
                        <img src="http://zdocd.com/statics/mobile/img/homeicon1.png" class="icon" />
                        <div class="name">APP开发</div>
                    </a>
                </li>
                <li class="listItem clearfix">
                    <a href="/mobile/html/xiaochengxu-list.html">
                        <img src="http://zdocd.com/statics/mobile/img/homeicon2.png" class="icon" />
                        <div class="name">微信小程序</div>
                    </a>
                </li>
                <li class="listItem clearfix">
                    <a href="/mobile/html/weixingongzhonghao-list.html">
                        <img src="http://zdocd.com/statics/mobile/img/homeicon3.png" class="icon" />
                        <div class="name">公众号开发</div>
                    </a>
                </li>
                <li class="listItem clearfix">
                    <a href="/mobile/html/qitakaifa-list.html">
                        <img src="http://zdocd.com/statics/mobile/img/homeicon4.png" class="icon" />
                        <div class="name">其他开发</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="homeMo1 pat36">
        <h6 class="moduleTit">选择我们</h6>
        <div class="indexNum container clearfix">
            <div class="item">
                <span class="timer num1" data-to="9" data-speed="1000">0</span>
                <p>开发经验</p>
            </div>
            <div class="item">
                <span class="timer num2" data-to="100" data-speed="1000">0</span>
                <p>技术团队</p>
            </div>
            <div class="item">
                <span class="timer num3" data-to="1000" data-speed="1000">0</span>
                <p>产品案例</p>
            </div>
        </div>
    </section>
    <section class="homeMo2 pat36 whiteBg">
        <div class="title animate">
            <h6 class="moduleTit">研发流程</h6>
        </div>
        <div class="box animateBox animate-up container">
            <ul class="list flex">
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon5.png" class="icon" />
                    <div class="num">01</div>
                    <div class="name">需求沟通</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon6.png" class="icon" />
                    <div class="num">02</div>
                    <div class="name">方案策划</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon7.png" class="icon" />
                    <div class="num">03</div>
                    <div class="name">项目评估</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon8.png" class="icon" />
                    <div class="num">04</div>
                    <div class="name">产品设计</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon9.png" class="icon" />
                    <div class="num">05</div>
                    <div class="name">技术开发</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon10.png" class="icon" />
                    <div class="num">06</div>
                    <div class="name">系统测试</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon11.png" class="icon" />
                    <div class="num">07</div>
                    <div class="name">交付上线</div>
                </li>
                <li class="listItem">
                    <img src="http://zdocd.com/statics/mobile/img/homeicon12.png" class="icon" />
                    <div class="num">08</div>
                    <div class="name">售后维护</div>
                </li>
            </ul>
        </div>
    </section>
    <section class="homeMo3 pat36">
        <div class="title animate">
            <h6 class="moduleTit">经典案例</h6>
        </div>
        <div class="box animateBox animate-up caseSwi">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">

                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-148.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/b50a360957.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">安诚保险</h6>
                                <p class="pro textOverflow">线上一键投保、事故出险预约、积分兑换商品平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-68.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/a350918762.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">剪刀侠</h6>
                                <p class="pro textOverflow">线上预约理发师理发平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-65.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/eb8c72d9ff.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">装卸专家</h6>
                                <p class="pro textOverflow">线上下单预约叉车使用、叉车司机抢单系统</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-248.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201907/57284d9a84.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">同城配送平台</h6>
                                <p class="pro textOverflow">同城商家发布配送需求、骑手抢单的物流平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-122.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/bbb003c7c8.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">思拓建筑</h6>
                                <p class="pro textOverflow">查看、管理建筑项目进程的房产管理平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-111.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/4101a0852d.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">老司机</h6>
                                <p class="pro textOverflow">加拿大当地餐饮外卖平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-82.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/dadf513361.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">壳米校园配送</h6>
                                <p class="pro textOverflow">为大学生帮忙寄件、取件的快递中间服务平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-78.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/ebc05d1d9e.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">享修</h6>
                                <p class="pro textOverflow">家庭设备报修，平台分派技师上门维修</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-84.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/680b0db3f5.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">致莱机电</h6>
                                <p class="pro textOverflow">为机电销售门店提供批发货源商的设备批发平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-151.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/3c9b40798b.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">一拍识车</h6>
                                <p class="pro textOverflow">拍车自动识别发放红包、抵扣券系统</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-130.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/62816e356b.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">假日阳光</h6>
                                <p class="pro textOverflow">酒店入驻、景点门票、旅游团购销售平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-95.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/ce12e25f95.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">康信</h6>
                                <p class="pro textOverflow">牛皮商品电商平台，以代金卡和分销模式发展</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-115.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/fc905f857c.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">好秾人</h6>
                                <p class="pro textOverflow">集门店销售、商品二维码溯源的农产品电商平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-76.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/607f6d5b46.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">叶迪宇医疗</h6>
                                <p class="pro textOverflow">咨询专家病情、预约线下手术的医疗平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-71.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/1634fb9a2c.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">校园E管家</h6>
                                <p class="pro textOverflow">老师上报维修、技师线下处理的校园设备报修平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-46.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/361d14fe41.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">百执同创</h6>
                                <p class="pro textOverflow">社团及地推活动、校园媒体的校园服务平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-63.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/ffdcb6bea5.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">百汇天下</h6>
                                <p class="pro textOverflow">有奖推荐、二级分销招聘系统</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-74.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/f6bbf2d12f.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">阿玛尼优洗</h6>
                                <p class="pro textOverflow">通过上门取件或送到指定地点线上预约洗护服务</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-61.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/8daf6198b2.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">飞狗协砼</h6>
                                <p class="pro textOverflow">泵车租赁与维修、购买泵车配件的工建系统</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-156.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/be0556c640.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">车幺贰零</h6>
                                <p class="pro textOverflow">查询附近汽车维修店、预约上门汽车维修平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-134.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/f0c1c9cd0a.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">神通乐园</h6>
                                <p class="pro textOverflow">游乐园门票、团购商品、纪念品销售平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-132.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/3f68f37297.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">壹志愿</h6>
                                <p class="pro textOverflow">学生志愿填报、在线1对1辅导平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-124.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/fef4862e02.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">百工慧</h6>
                                <p class="pro textOverflow">儿童文化传播学习考试平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-117.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/b07c910b58.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">绵房特卖</h6>
                                <p class="pro textOverflow">集预约看房、发布房源、销售员抢单的绵阳房产电商平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinkaifa-show-120.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/d2d11f3745.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">佐帮600</h6>
                                <p class="pro textOverflow">集发布房源、房源租售、房源信息管理的房产管理系平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-110.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/12243fc98d.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">三国外卖团</h6>
                                <p class="pro textOverflow">外卖、团购、酒店、KTV商家入驻餐饮平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-103.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/525e2eee5d.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">九天家私</h6>
                                <p class="pro textOverflow">集多级分销、市场区域管理、员工管理的家具电商平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/weixinxiaochengxu-show-93.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/e02014bc61.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">天天商圈</h6>
                                <p class="pro textOverflow">以地方商圈划分商家入驻的电商平台</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-104.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/34c73c266f.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">知医</h6>
                                <p class="pro textOverflow">App在线购买，实时学习观看最新医疗影像及资料</p>
                            </div>
                        </a>
                    </div>
                                        <div class="swiper-slide">
                        <a href="/mobile/html/shoujiapp-show-66.html" class="item">
                            <div class="picBox">
                                <img src="http://zdocd.com/uploadfile/201905/3f9ad74e19.jpg" class="objectCover" />
                            </div>
                            <div class="textBox transiton3s">
                                <h6 class="name textOverflow">900家政</h6>
                                <p class="pro textOverflow">家政行业用户下单系统自动派单、工人接单系统</p>
                            </div>
                        </a>
                    </div>
                                    </div>
            </div>
        </div>
        <a href="/mobile/html/jingdiananli-list.html" class="more">更多案例</a>
    </section>
    <section class="homeMo4 pat36">
        <div class="title animate">
            <h6 class="moduleTit">关于我们</h6>
        </div>
        <div class="box animateBox animate-up container">
            <a href="/mobile/html/guanyuwomen-list.html"><p class="des">正道科技，始于2010年，专注一站式软件开发服务。我们致力于在保证研发质量的前提下，免费提供产品经理一对一实地挖掘需求、分析功能，让产品构架更完整、流程更符合实际应用需要。</p>
            <img src="" data-src="http://zdocd.com/statics/mobile/img/homepic1.jpg" class="pic"/></a>
        </div>
    </section>
    <section class="homeMo5 pat36">
        <div class="title animate">
            <h6 class="moduleTit">合作单位</h6>
        </div>
        <div class="container animateBox animate-up partnerSwi">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">             
                    <div class="swiper-slide">
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/35cf8659cfcb13224cbd47863a34fc58/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/96ea64f3a1aa2fd00c72faacf0cb8ac9/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/846c260d715e5b854ffad5f70a516c88/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/df7f28ac89ca37bf1abd2f6c184fe1cf/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/c15da1f2b5e5ed6e6837a3802f0d1593/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/dc5689792e08eb2e219dce49e64c885b/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/2dace78f80bc92e6d7493423d729448e/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/1905aedab9bf2477edc068a355bba31a/--0-0.jpg" class="objectCover" />
                        </div>
						                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/7c590f01490190db0ed02a5070e20f01/--0-0.jpg" class="objectCover" />
                        </div>
						                    </div>
                    <div class="swiper-slide">
                    	                        <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/1aa48fc4880bb0c9b8a3bf979d3b917e/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/68053af2923e00204c3ca7c6a3150cf7/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/da8ce53cf0240070ce6c69c48cd588ee/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/1141938ba2c2b13f5505d7c424ebae5f/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/61b4a64be663682e8cb037d9719ad8cd/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/7a53928fa4dd31e82c6ef826f341daec/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/82489c9737cc245530c7a6ebef3753ec/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/28267ab848bcf807b2ed53c3a8f8fc8a/--0-0.jpg" class="objectCover" />
                        </div>
                                                <div class="picBox">
                            <img src="" data-src="http://zdocd.com/api/thumb/d58072be2820e8682c0a27c0518e805e/--0-0.jpg" class="objectCover" />
                        </div>
                                            </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer whiteBg">
    <div class="container">
        <h2 class="name">联系·正道</h2>
        <a href="tel:028-81475600" class="tel">028-81475600</a>
        <p class="tel2">产品经理直通：<a href="tel:157-0847-4187">157-0847-4187</a></p>
        <!-- <div class="add"><span>成都市青羊区光华中心B座1205-1207室（地铁四号线中坝站A口旁）</span></div> -->
		<div class="add"><span>成都市青羊区光华中心B座1205-1207室</br>（地铁四号线中坝站A口旁）</span></div>
        <div class="copyright">成都正道飞创科技有限公司 <a href="http://beian.miit.gov.cn" target="_blank">蜀ICP备18027005号</a></div>
    </div>
</footer>
<aside class="footerNav flex">
    <div class="item" id="formBtn">
        <img src="http://zdocd.com/statics/mobile/img/footericon2.png" class="icon" />
        <p class="name">快速报价</p>
    </div>
    <a class="item" href="tel:028-81475600">
        <img src="http://zdocd.com/statics/mobile/img/footericon3.png" class="icon" />
        <p class="name">电话咨询</p>
    </a>
    <a class="item" href="http://p.qiao.baidu.com/cps/chat?siteId=15017152&userId=27577370">
        <img src="http://zdocd.com/statics/mobile/img/footericon4.png" class="icon" />
        <p class="name">在线咨询</p>
    </a>
</aside>
<div class="formBox" id="formTc">
    <div class="flex flexBox">
        <div class="box">
            <form action="" method="post" id="asideForm">
                <input class="form-control" type="hidden" name="data[title]" id="dr_title" value="底部表单" style="width:400px;" required="required">
                <input type="text" class="phoneInput" name="data[shoujihao]" id="mobile" placeholder="请输入手机号码"/>
                <input type="hidden" name="data[xuqiu]" placeholder="请输入您的需求" class="requireInput"/>
            </form>
            <div class="clearfix">
                <div class="quitbtn btn" id="closeForm">取消</div>
                <div class="confirmbtn btn" id="subForm">提交</div>
            </div>
        </div>
    </div>
</div>
<div class="formBox" id="formSucTc">
    <div class="flex flexBox">
        <div class="box sucBox">
            <div class="textBox">
                <img src="http://zdocd.com/statics/mobile/img/formIcon.png" class="icon" />
                <p class="txt">我们会尽快与您联系</br>请保持电话畅通</p>
            </div>
            <div class="quitbtn btn" id="closeSucTc">知道了</div>
        </div>
    </div>
</div>
<!--jq-->
<script type="text/javascript" src="http://zdocd.com/statics/mobile/js/jquery-3.3.1.min.js"></script>
<!--弹窗-->
<script type="text/javascript" src="http://zdocd.com/statics/mobile/js/layer/layer.js"></script>
<!--图片滚动-->
<script type="text/javascript" src="http://zdocd.com/statics/mobile/js/swiper.min.js"></script>
<!--main js-->
<script type="text/javascript" src="http://zdocd.com/statics/mobile/js/zdfcm.js"></script>
</body>
</html>