<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 为移动设备添加 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!--强制Chromium内核作用于360浏览器、QQ浏览器等国产双核浏览器-->
    <meta name="renderer" content="webkit" />
    <!--强制Chromium内核，作用于其他双核浏览器-->
    <meta name="force-rendering" content="webkit" />
    <!--如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器：-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <title>Devep</title>
    <meta name="keywords" content="Devep">
    <meta name="description" content="Devep">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/responsive2.css">
    <link rel="stylesheet" href="./css/indexDev.css">
    <link rel="stylesheet" href="./css/projectProcess.css">

    <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/swiper.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.3.js"></script>
    <script type="text/javascript" src="./js/layer.js"></script>
    <script src="./js/projectPorcess.js" rel="stylesheet"></script>
</head>
<script type="text/javascript">

</script>
<body>
    <header class="zdHeader transiton3s">
        <div class="pcNav indexNav">
            <div class="container clearfix">
                <div class="logoBox">
                    企业logo占位
                    <!-- <img src="http://zdocd.com/statics/zdfc/img/logo.png" class="logoPic" /> -->
                </div>
                <p class="tel">+61 123456789</p>
                <nav class="zdNav clearfix">
                    <a href="/" class=" active  transiton3s">首页</a>
                    <a href="/html/appkaifa-list.html" class=" transiton3s">Regist</a>
                    <a href="/html/xiaochengxu-list.html" class=" transiton3s">Login</a>
                    <a href="/html/jingdiananli-list.html" class=" transiton3s">经典案例</a>
                    <a href="/html/xingyezixun-list.html" class=" transiton3s">行业资讯</a>
                    <a href="/html/guanyuwomen-list.html" class=" transiton3s">关于我们</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="lyb">
        <div class="lyb-box">
            <div class="lyb-left">
                <div class="lyb-top">
                    <h3>项目进度</h3>
                    <div class="jdt"></div>
                </div>
                <div id="lybContent" class="lyb-content">
                    <!-- <div class="item">
                        <div class="top">
                            <div class="yuan"></div>
                            <div class="top">2020-01-11</div>
                        </div>
                        <div class="bottom">
                            <div class="xian"></div>
                            <div class="content">dsadasdsadas哈哈哈哈阿萨德很快就发货的空间和规范化市分公司答复哈哈哈
                                asdasdasd
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <div class="yuan"></div>
                            <div class="">2020-01-11</div>
                        </div>
                        <div class="bottom">
                            <div class="xian"></div>
                            <div class="content">dsadasdsadashahahahhaha
                                dasdasdsd  sad撒大所多
                                大萨达所
                                dsadsad 大动干戈
                                发的方法 dsadd fsdf
                                
                                asdasdasd
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <div class="yuan"></div>
                            <div class="">2020-01-11</div>
                        </div>
                        <div class="bottom">
                            
                            <div class="content">完成 </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="lyb-right">
                <div class="content">
                    <div class="one">
                        <div class="one-top">
                            <p>xx名称</p>
                            <p>2020-01-22</p>
                        </div>
                        <div class="detail-content">
                            大声道撒多撒大所多撒所大叔大婶大
                        </div>
                    </div>
                    <div class="one">
                        <div class="one-top">
                            <p>xx名称</p>
                            <p>2020-01-22</p>
                        </div>
                        <div class="detail-content">
                            大声道撒多撒大所多撒所大叔大婶大
                            dasdasdasdasdasdasdasdasdasd
                            dasdasdasdasdasdasdasdasdasdasdas
                            asdasdasd
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button>upload</button>
                    <button>submit</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>