<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devep.mapper.FlowDispatchMapper">
    <!--录入触发的用户-->
    <insert id="saveTiggerUser">
        insert into bonc_sjsd_tigger_info (phone_no,event_id,create_time,short_code)
        values (#{phoneNo},#{eventId},#{createTime},#{shortCode})
    </insert>
</mapper>