<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devep.mapper.ProjectProcessMapper">
    <select id="getProcessEvents" resultType="com.devep.vo.ProjectEvent">
        select event_id eventId,pro_id proId,event_time eventTime,event_content eventContent
        from project_event
        <where>
            pro_id = #{proId}
        </where>
    </select>


</mapper>